{{ partial "header.html" . }}
{{ partial "navbar.html" . }}


<main class="pure-g">
  <div class="desktop pure-u-1-24"></div>
	<div class="pure-u-23-24 pure-u-md-5-6">
	  <p class="posts-name">{{ .Title }}:</p>

	  <ul class="posts">
		{{ $baseurl := .Site.BaseURL }}
		{{ range $name, $page := .Data.Pages }}
		{{ if eq .Type "post" }}
		<li>
			<a href="{{ .Permalink }}">{{ $page.Title }}</a>
				<p class="footnote">
			<time datetime="{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}" class="post-list timeago">{{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }} of {{ .Date.Format "January 2006" }}</time>
			</p>
			<div class="blurb">
				{{ $page.Content }}
			</div>
		  <p class="footnote">
		
			{{ if or $page.Params.tags $page.Params.categories $page.Params.series }}
			to
			{{ end }}

			{{ with $page.Params.tags }}
			tags:[ {{ range $page.Params.tags}}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

			{{ with $page.Params.categories }}
			categories:[ {{ range $page.Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

			{{ with $page.Params.series }}
			series:[ {{ range $page.Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

		  </p>
		</li>
		{{ end }}
		{{ end }}
	  </ul>
	</div>
   <div class="desktop pure-u-1-24"></div>
</main>


{{ partial "footer.html" . }}

