{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<main class="pure-g">
     <div class="desktop pure-u-1-24"></div>
	<div class="pure-u-23-24 pure-u-md-5-6">
        <div class="post">

            <div class="post-title">
                <p class="footnote">
                    <time class="">{{ .Date.Format "2th January 2006" }}</time>
		            {{ $baseurl := .Site.BaseURL }}
                    {{ if or .Params.tags .Params.categories .Params.series }}
                    |
                    {{ end }}
                    {{ if isset .Params "tags" }}
                    tags:{{ range .Params.tags }}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}

                    {{ if isset .Params "categories" }}
                    categories:{{ range .Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}

                    {{ if isset .Params "series" }}
                    series:{{ range .Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}
                    {{ end }}
                </p>
                <br>
                <h1>{{ .Title }}</h1>
            </div>

            <div class="post-content writing">
                {{ .Content }}
            </div>
        </div>
	</div>
     <div class="desktop pure-u-1-24"></div>
</main>


{{ partial "footer.html" . }}
