/*
footer {
	display:block;
}
*/
html {
	min-height:100%;
	width:100%;
	position:relative;
	--brand-font: "Courier New", monospace;
	--default-font: verdana,arial,helvetica,sans-serif;
}

body {
	background-color: rgb(249,249,249);
	color: #484848;
}

main {
	min-height: 80vh;
	min-height: calc(100vh - 108px)
}
.blurb {
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
   line-height: 1rem;        /* fallback */
   max-height: calc(3 * 1rem + 16px);       /* fallback */
   height: calc(3 * 1rem + 16px);
   margin-top: 16px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  overflow: hidden;
  /* margin: 1rem; */
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.content {
	padding: 16px;
}

.content-top {
	padding-top: 16px;
}

.nav-menu {
	/*box-shadow: 0 1px 1px rgba(0,0,0, 0.10);*/
	border-bottom: 1px solid #e3e3e3;
	height: 48px;
}

.header {
	text-align: left;
	color: #484848;
	margin-bottom: .5em;
}

.header .desktop ul {
	float: right;
}
.header ul li {
		height: auto;
}

.header ul li a {
	font-weight: bold;
	color: #484848;
	font-family: var(--brand-font);
}

.header .site-title {
	font-weight: bold;
	color: #484848;
	font-family: var(--brand-font);
}

.pull-right {
	float: right;
}

.posts-name {
	text-transform: capitalize;
	font-weight: bold;
	padding-left: 1em;
	margin-top: 1em;
	font-family: var(--brand-font);
}

.posts {
	font-family: var(--default-font);
	list-style-type:none;
	padding-left: 1em;
}

.posts li p{
	margin-top: 0;
}

.posts li {
	margin-bottom: 1em;
}

.posts li a {
	font-family: var(--brand-font);
	font-weight: bold;
	color:#369;
	text-decoration:none;
}


.footnote {
	font-family: var(--default-font);
	color:#888;
	font-size:x-small;
	margin-bottom:0;
}

.footnote a {
	color: #888 !important
}

.footnote a:hover{
	text-decoration:underline;
	color:#369;
}

.footer {
	z-index:2;
	width:100%;
	height: 48px;
}


.footer-content {
	border-top: 1px solid #e3e3e3;
}

.footer-content a {
	font-size: 80%;
	color: #bbb;
}

.footer-content ul {
	height: auto;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	padding-left: 0;
}

#gototop-btn {
	display: inline-block;
	color: #bbb;
	font-size: 80%;
}

#foot-name {
	text-transform: none;
	font-size: 80%;
	color: #bbb;
}

.post {
	font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	color:#484848;
	letter-spacing:normal;
	padding-left: .5em;
}

.post h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	letter-spacing:normal;
}

.post-content {
	z-index:9;
	overflow:auto;
	padding:0;
	padding-bottom:3em;
	font-size:16px;
	line-height:1.4;
}

.post a {
	color:#c05b4d;
	text-decoration: none;
}

.post a:hover {
	color:#a5473a;
	text-decoration: underline;
}

.post h1 {
	font-size:28px;
}

.post h2 {
	font-size:25px;
}

.post h3 {
	font-size:23px;
}

.post h4 {
	font-size:21px;
}

.post h5 {
	font-size:19px;
}

.post h6 {
	font-size:18px;
}

.post p {
	margin-bottom: 8px;
}

.post-title{
		margin-top: 0;
		margin-bottom: 2em;
}

.post-title h1 {
	font-weight:bold;
	font-size:39px;
	line-height: 40px;
	margin-top: 0;
	margin-bottom: 0;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.row.center {
	align-items: center;
}

.flex {
	flex: 1;
}

.mdc-button {
	--mdc-ripple-surface-width: 0;
    --mdc-ripple-surface-height: 0;
    --mdc-ripple-fg-size: 0;
    --mdc-ripple-left: 0;
    --mdc-ripple-top: 0;
    --mdc-ripple-fg-scale: 1;
    --mdc-ripple-fg-translate-end: 0;
    --mdc-ripple-fg-translate-start: 0;
    will-change: transform, opacity;
    -webkit-tap-highlight-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    color: lightcoral !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    position: relative;
    min-width: 64px;
    height: 36px;
    padding: 0 16px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .04em;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}


@media screen and (max-width:767px){
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	#toggle-btn {
		display: inline-block;
		float: right;
		padding: .5em 1em;
		text-decoration: none;
		color: #484848;
		font-weight: bold;
	}
	#toggle-content li {
		clear: both;
		height: auto;
		background-color: rgb(249,249,249);
	}
	#toggle-home {
		display: inline-block;
	}
}

@media screen and (min-width:768px){
	.mobile {
		display:none;
	}
	.desktop {
		display: block;
	}

	.card-container {
		padding: 0.5rem;
	}
}
